extends ./layout/index

block slider
    .slider
        h1 Rio de Janeiro
        em aventura

//-En el bloque contenido, añade este párrafo
block contenido 
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste aliquam explicabo, quos deserunt veniam voluptas fugit temporibus voluptate! Minus nihil, at eaque quasi alias perspiciatis quo. Minima ex, amet, magnam voluptatum earum numquam repudiandae molestiae dolore rerum eligendi fugiat voluptas! Officiis veniam voluptatum cumque quos obcaecati a porro id molestiae fuga impedit.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis molestias doloremque repudiandae sapiente numquam fuga, dolorem, repellat sint est vel at. Alias laudantium, at deserunt ipsa deleniti corporis iste nihil nemo earum doloribus hic cupiditate dolores incidunt accusamus quod quos harum qui facilis ad itaque cumque nulla quas repellat. Deserunt.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="Imagen Nosotros" class="img-fluid")

        include ./layout/bloque_viajes

    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canadá
                        p.fecha 20 de Marzo de 2023 - 5 de Abril de 2023
                        p.precio 28000 Pesos

    .container
        h2.mt-5.text-center Testimonios
        include ./layout/bloque_testimonios

