extends ./layout/index
block contenido 
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Torre Eiffel" , class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote ipsum dolor sit amet consectetur adipisicing elit. Eos earum veritatis corrupti iure adipisci reprehenderit nesciunt quae perspiciatis repellendus, eum nihil quasi ratione inventore temporibus, fugiat sed, reiciendis porro! Atque totam quia reprehenderit repudiandae quo aliquid eligendi odio voluptas, tenetur aliquam doloremque quam cum molestias, in quod quas eos veniam sit voluptatibus optio.

                p tenetur eius ut nesciunt inventore? Vero accusantium est ducimus animi! Quae sit tenetur eaque officiis accusamus? Est reprehenderit sapiente architecto nulla beatae quas temporibus sint. Explicabo perferendis alias nam sint.

                p hic totam at in inventore quos necessitatibus! Ut asperiores hic sed ad, ducimus natus, voluptatibus debitis blanditiis aperiam unde, et nobis similique! Harum, consectetur commodi rem quia nostrum laudantium minus dolore incidunt asperiores illum aut libero ex mollitia ullam earum molestias, tenetur veritatis exercitationem delectus quo debitis fugit cupiditate porro.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Seguridad", class="img-fluid mb-5")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis atque nisi ex! Magnam, eaque? Facilis reprehenderit eveniet qui repellat, dolores mollitia eum deleniti explicabo itaque 
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Destinos", class="img-fluid mb-2")
                    h2.mb-4 Destinos Increíbles 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis atque nisi ex! Magnam, eaque? Facilis reprehenderit eveniet qui repellat, dolores mollitia eum deleniti explicabo itaque
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Precios", class="img-fluid mb-2")
                    h2.mb-4 Los Mejores Precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis atque nisi ex! Magnam, eaque? Facilis reprehenderit eveniet qui repellat, dolores mollitia eum deleniti explicabo itaque .